{% extends "base.html" %}
{% block title %}
    Создание нового сниппета
{% endblock %}
{% block content %}
    <form>
        <input type="url" placeholder="Название сниппета" id="title">
        <div class="text-edit">
        </div>
        <div class="editor">
            <button id="addtext" class="button">Добавить еще</button>
            <input id="files" class="button" type="file" accept="text/*" multiple
                   value="Загрузить c диска" onchange="handleFiles(this.files)">
            <p>
                <input id="url" type="url" placeholder="Вставте URL файла">
                <input id="url-btn" class="button" type="button" value="Загрузить">
            </p>
        </div>
        <label for="is_public">Доступен всем</label>
        <input type="checkbox" name="is_public" id="is_public">
        <button id="submit" type="button" class="button">Сохранить</button>
    </form>
{% endblock %}
{% block js %}
    <script>
        const handleFiles = files => {
            console.log("uploading files!");
            [...files].map(file => {
                const reader = new FileReader();
                reader.onloadend = e => {
                    console.log("file", file.name);
                    const editor = createEditor(file.name, e.target.result);
                    document.querySelector("form div.text-edit").appendChild(editor);
                };
                reader.readAsText(file);
            });
        };
        document.querySelector("#url-btn").onclick = e => {
            e.preventDefault();
            const url = document.querySelector("#url").value;
            fetch(`{{ url_for("api.url_process", url="") }}${base64UrlEncode(url)}`)
                .then(data => data.json())
                .then(data => {
                    const editor = createEditor("", data.result.text);
                    document.querySelector("form div.text-edit").appendChild(editor);
                })
        };
        document.querySelector("#addtext").onclick = e => {
            e.preventDefault();
            const editor = createEditor("", "");
            document.querySelector("form div.text-edit").appendChild(editor);
        };

        document.querySelector("#submit").onclick = e => {
            e.preventDefault();
            const editorData = handleEditor(document.querySelectorAll(".filename"),
                document.querySelectorAll(".code"));
            const uploadData = handleFiles(document.querySelector("#files").files);
            const data = {
                "title": document.querySelector("#title").value,
                "is_public": document.querySelector("#is_public").checked,
                "description": "this is description!",
                "files": editorData.concat(uploadData)
            };
            fetch("{{ url_for("api.snippets_list") }}", {method: 'POST', body: JSON.stringify(data)})
                .then(data => data.json())
                .then(data => {
                    const snippet_id = data.result.snippet_id;
                    window.location.href = `{{ url_for("snippet", snippet_id="") }}${snippet_id}`
                })
        }
    </script>
{% endblock %}
