{% extends "base.html" %}
{% block title %}
    Создание нового сниппета
{% endblock %}
{% block content %}
    <form>
        <textarea name="code" id="code" cols="30" rows="10"></textarea>
    </form>
{% endblock %}
{% block js %}
    <script>
        const onSave = e => {
            {#e.preventDefault();#}
            const data = {
                "title": "hello world!",
                "is_public": true,
                "description": "this is description!",
                "files": [
                    {"filename": "hello.py", "text":"print('hello world!')"},
                    {"filename": "hello.js", "text":"console.log('hello world!')"}
                    ]};
            fetch("{{ url_for("api.snippets_list") }}", {method: 'POST', body: JSON.stringify(data)})
                .then(data => data.json())
        }
    </script>
{% endblock %}
