{% extends "base.html" %}
{% block title %}
    Все сниппеты
{% endblock %}
{% block content %}
    <div class="container">
        <div class="stat-wrapper"></div>
    </div>
    <button id="more" class="button">Загрузить еще</button>
{% endblock %}
{% block js %}
    <script>
        let page = 1;
        fetch("{{ url_for("api.stats") }}")
            .then(data => data.json())
            .then(data => {
                const stat = createStatistic(data);
                document.querySelector(".stat-wrapper").appendChild(stat)
            });
        const getMore = () => {
            fetch(`{{ url_for("api.snippets_list") }}?page=${page}`)
                .then(data => data.json())
                .then(data => data.result.map(snippet => {
                        const html = renderSnippet(snippet);
                        document.querySelector(".container").appendChild(html)
                    }
                )).then(() => highlight("pre code"));
            page++;
        };
        getMore();
        document.querySelector("#more").onclick = e => {
            e.preventDefault();
            getMore();
        }
    </script>
{% endblock %}
